


<!-- Trigger the modal with a button -->

<button type="button" id="add-point-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+</button>

</button>





<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <ul class="nav nav-pills">
          <li role="presentation" class="active point-pill"><a href="#">Points</a></li>
          <li role="presentation"class="list-pill"><a href="#">Lists</a></li>
        </ul>
      </div>


<!-- POINT BODY -->
      <div class="modal-body point-body">
        <form>
          <input class = "modal-input" id='point-title' type="text" name="point-title" placeholder="Title">
          <input class = "modal-input" id='point-description' type="text" name="point-title" placeholder="Description">
          <input class = "modal-input" id='point-picture' type="text" name="point-title" placeholder="Picture">

          <!-- DROP DOWN BEGINS  -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Lists
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu modal-list-drop" aria-labelledby="dropdownMenu1">
            </ul>
          </div>
          <!-- DROP DOWN ENDS  -->
          <div class = "list-holder"></div>
        </form>
      </div>

<!-- LIST BODY -->

      <div class="modal-body list-body">
        <p> THIS is a test </p>
      </div>



      <div class="modal-footer">
        <button type="submit" id="modal-submit" class="btn btn-primary">Submit Point</button>
        <button type="submit" id="list-submit" class="btn btn-primary">Create List</button>
      </div>
    </div>

  </div>
</div>
