<!-- views/partials/side-nav-bar.ejs -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<div id="topNav">
  <img src="svg/hamburger.svg" alt="menu toggle icon" id="hamburger">
</div>


<div id="mySidenav" class="sidenav">

  <img src="svg/exit.svg" alt="menu toggle icon" id="hideNav">

  <section id="filterSec">
    <h2>Filters</h2>
  </section>


  <section id="carouselSec">
    <h2>Trending</h2>
  </section>
  <section id="listsSec">
    <h2>Curated Lists</h2>
    <section id="lists-container">
    </section>
  </section>


</div>
