<!-- views/partials/side-nav-bar.ejs -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<div id="topNav">
  <img src="svg/hamburger.svg" alt="menu toggle icon" id="hamburger">
</div>


<div id="mySidenav" class="sidenav">

  <img src="svg/exit.svg" alt="menu toggle icon" id="hideNav">
  <section id="carouselSec">
    <h2>Carousel of local images here</h2>
  </section>
  <section id="filterSec">
    <h2>Filter Options:</h2>
    <table>
      <tr>
        <th><input type="checkbox">  Parks    <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></th>
        <td><input type="checkbox">  Activities    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td><input type="checkbox">  #Views    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></td>
        <td><input type="checkbox">  Shopping    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td><input type="checkbox">  Restos    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></td>
        <td><input type="checkbox">  Music    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td>  <input type="checkbox">  Hotels    <span class="glyphicon glyphicon-bed" aria-hidden="true"></span></td>
        <th>  <input type="checkbox">  Roads    <span class="glyphicon glyphicon-road" aria-hidden="true"></span></th>
      </tr>
    </table>
  </section>

    <section id="listsSec">
        <h2>Curated Lists</h2>
        <div>
            &nbsp;&nbsp;Sort:&nbsp;
          <input type="radio" name="sorter">   Trending &nbsp;
          <input type="radio" name="sorter">   Nearby &nbsp;
          <input type="radio" name="sorter">   My Lists &nbsp;
        </div>
        <section id="lists-container">
        </section>
    </section>

</div>
