<!-- views/partials/side-nav-bar.ejs -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<div id="topNav">
  <img src="svg/hamburger.svg" alt="menu toggle icon" id="hamburger">
</div>


<div id="mySidenav" class="sidenav">

  <img src="svg/exit.svg" alt="menu toggle icon" id="hideNav">




  <section id="carouselSec">

    <div>


<h1>Toronto</h1>

  <!-- <script src="http://gd.geobytes.com/gd?after=-1&variables=GeobytesCountry,GeobytesCity">
  </script> -->

  <h1 id="city-container">
  </h1>


    </div>

  </section>

    <section id="listsSec">
        <h2>Curated Lists</h2>
        <section id="lists-container">
        </section>

    </section>

</div>
        <script type="text/javascript" src="/scripts/post-like.js"></script>
    <script type="text/javascript" src="/scripts/likeHandler.js"></script>
