<!-- views/partials/side-nav-bar.ejs -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<div id="topNav">
  <img src="svg/hamburger.svg" alt="menu toggle icon" id="hamburger">
</div>


<div id="mySidenav" class="sidenav">

  <img src="svg/exit.svg" alt="menu toggle icon" id="hideNav">




  <section id="carouselSec">

    <div>


<h1>Toronto</h1>

  <!-- <script src="http://gd.geobytes.com/gd?after=-1&variables=GeobytesCountry,GeobytesCity">
  </script> -->

  <h1 id="city-container">
  </h1>



<!--Eric: temporarily hardcoded  -->

    </div>


  </section>





  <section id="filterSec">
    <h2>Filter Options:</h2>
    <table>
      <tr>
        <th><input type="checkbox" checked="checked">  Parks    <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></th>
        <td><input type="checkbox" checked="checked">  Activities    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td><input type="checkbox" checked="checked">  #Views    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></td>
        <td><input type="checkbox" checked="checked">  Shopping    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td><input type="checkbox" checked="checked">  Restos    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></td>
        <td><input type="checkbox" checked="checked">  Music    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td>  <input type="checkbox" checked="checked">  Hotels    <span class="glyphicon glyphicon-bed" aria-hidden="true"></span></td>
        <th>  <input type="checkbox" checked="checked">  Roads    <span class="glyphicon glyphicon-road" aria-hidden="true"></span></th>
      </tr>
    </table>
  </section>

    <section id="listsSec">
        <!-- <h2>Curated Lists</h2> -->
        <div>
            &nbsp;&nbsp;Sort:&nbsp;
          <input type="radio" name="sorter" checked="checked">   Trending &nbsp;
          <input type="radio" name="sorter">   Nearby &nbsp;
          <input type="radio" name="sorter">   My Lists &nbsp;
        </div>

        <section id="lists-container">
        </section>




    </section>

</div>
        <script type="text/javascript" src="/scripts/post-like.js"></script>
    <script type="text/javascript" src="/scripts/likeHandler.js"></script>
