<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body>
    <% include ./partials/side-nav-bar.ejs %>

    <div id="map"></div>

        <% include ./partials/modalwindow %>

    <!-- app.js scripts -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- maps.js script file -->
    <script type="text/javascript" src="/scripts/map.js"></script>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkBjrWzl_yuZ7nrOKPC8NCRWvX4-qOOTY&callback=initMap"
    async defer></script>
  </body>
</html>
