html {
  height:100%;
body {
  background-color: #EEE;
  height: 100%;
  h1 {
    color: #244751;
  }
  map {
    height: 100%;
  }
  #editMode {
    display:none;
    position:fixed;
    z-index: 999;
    top: 5px;
    right: 70px;
  }
  #editing {
    color:#FFAAAA;
    text-align:center;
    margin: 5px auto;
  }
  #bubbleNav {
    text-align: right;
    float: right;
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: 10px;
  }
}
}
