
#hamburger {
  margin: 10px;
  position:fixed;
  top: 0px;
  z-index: 99;
  width: 60px;
  border: solid 1px white;
  opacity: 0.7;
  background: white;
  border-radius: 5px;
  padding: 3px;
}
#mySidenav {
  font-family: 'Open Sans', sans-serif;
  top:0;
  background-color: white;
  width: 30%;
  height: 100%;
  // display: none;
  position:fixed;
  z-index: 100;
  border-right: 1px solid #FFAAAA;
  box-shadow: 10px 0px 150px #FFAAAA;
  opacity: 0.98;
  a {
    color: #244751;
  }
  h2 {
    text-align:center;
    font-size: 90%;
    margin-top: 10px;
    font-weight:bolder;
  }
  #hideNav {
    float:right;
    margin: 6px;
    width: 20px;
    position: relative;
  }
  @keyframes wiggle {
  0% {transform:rotate(5deg);}
  50% {transform:rotate(-5deg);}
  100% {transform:rotate(5deg);}
  }
  #hideNav:hover {
    animation: wiggle 0.5s infinite;
  }
  #filterSec {
    height: 33%;
    border-bottom: 1px solid #FFAAAA;
  }
  #carouselSec {
    height: 25%;
  }
  #listsSec {
    height: 42%;
    border-top: 1px solid #FFAAAA;
    overflow:scroll;
    .listBox {
      border: solid 1px #FFAAAA;
      margin: 1px 1px;
      overflow:hidden;
      border-radius: 3px;
      .glyphicon {
        float:right;
        margin: 2px 2px 3px 2px;
      }
      .glyphicon-heart-empty:hover {
        color:red;
        animation: wiggle 0.5s infinite;
      }
      .glyphicon-heart-empty:active {
          color:blue;
      }
      .glyphicon-pencil:hover {
        color:green;
        animation: wiggle 0.5s infinite;
      }
      h3 {
        margin: 2px 0;
        font-size: 50%;
        width: 10px;
        float: left;
      }
      h2{
        margin: 4px auto 3px auto;
        font-weight:bold;
        font-size: 90%;
      }
      p {
        font-size: 50%;
        margin: 0 0 3px 5px;
        font-style:italic;
      }
      .creator {
        float:bottom-right;
        font-size: 50%;
      }
    }
  }
}
#topNav {

}
@media only screen and (max-width: 700px) {
  #mySidenav {
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  #mySidenav {
    width: 70%;
  }
}
@media only screen and (max-width: 450px) {
  #mySidenav {
    width: 90%;
  }
}
