  body        {
    padding-top:80px;
    background-image: url("../images/vectorial-map.jpg");
    background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
    .jumbotron {
      width: 60%;
      margin: 0 auto;
      opacity: 50%;
      border: 1px solid #FFAAAA;
      box-shadow: 10px 0px 150px #FFAAAA;
    }
    .container {
      margin: 0 auto;
      .col-sm-6 {
        margin-left: 50px;
      }
    }
  }
